body{
    background-color:beige;
    text-align:center;
}
h1{
    text-align:center;
    color:rgb(30, 174, 210);
    font-size:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    height: 430px;
    align-items: center;
    justify-content: center;
    display:flex;
}
.container{
    width:60vmin;
    height:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.Box{
    width:100px;
    height:100px;
    flex-wrap: wrap;
    border-radius: 1rem;
}
#resB{
    background-color:rgb(205, 117, 54);
    color:white;
    width:80px;
    height:50px;
    font-size:20px;
    border-radius: 2rem;
}
#newB{
    background-color: rgb(205, 117, 54);
    color:white;
    width:120px;
    height:40px;
    font-size:20px;
    border-radius: 2rem;
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 36px;
    }
    .main {
        height: auto; 
        padding: 20px 0;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    .container {
        width: 90vw;  
        height: 90vw; 
    }

    .Box {

        width: calc((90vw - 16px) / 3);
        height: calc((90vw - 16px) / 3);
        font-size: 15vw;
    }

    #newB, #resB {
        width: 100px;
        height: 40px;
        font-size: 16px;
        margin: 5px;
    }
}

