body {
    background-color: beige;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

h1 {
    color: rgb(30, 174, 210);
    font-size: 50px;
    margin-bottom: 5px; 
}

#msg {
    font-size: 24px;
    min-height: 30px;
}

.container {
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto; 
}

.Box {
    border-radius: 1rem;
    background-color: #fff;
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#resB {
    background-color: rgb(205, 117, 54);
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin: 5px;
}
#newB {
    background-color: rgb(205, 117, 54);
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 2rem;
    margin-bottom: 10px; 
     border: none;
    cursor: pointer;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .container {
        width: 90vw; 
        height: 90vw;
    }

    .Box {
        font-size: 15vw; 
    }
}

